-- MySQL dump 10.13  Distrib 8.0.35, for Win64 (x86_64)
--
-- Host: localhost    Database: leadflow_crm
-- ------------------------------------------------------
-- Server version	8.4.7

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `agences`
--

DROP TABLE IF EXISTS `agences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agences` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `ville` varchar(100) DEFAULT NULL,
  `region` varchar(100) DEFAULT NULL,
  `code` varchar(20) DEFAULT NULL,
  `actif` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agences`
--

LOCK TABLES `agences` WRITE;
/*!40000 ALTER TABLE `agences` DISABLE KEYS */;
INSERT INTO `agences` VALUES (1,'Si├¿ge Paris','Paris','├Äle-de-France','PAR',1,'2026-03-17 11:09:59',NULL),(7,'France Conseil & Formation','Antony','Il de France','ANT',1,'2026-03-19 13:29:11','2026-03-19 13:36:44'),(8,'France Conseil & Formation','Saint-Denis','├Äl-de-France','PAR',1,'2026-03-19 13:36:00','2026-03-19 13:36:20');
/*!40000 ALTER TABLE `agences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agenda_rdv`
--

DROP TABLE IF EXISTS `agenda_rdv`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agenda_rdv` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `type_rdv` enum('commercial','administratif','interne') NOT NULL,
  `titre` varchar(200) NOT NULL,
  `description` text,
  `date_rdv` date NOT NULL,
  `heure_debut` time NOT NULL,
  `heure_fin` time NOT NULL,
  `statut` enum('planifie','confirme','effectue','annule','en_attente') NOT NULL DEFAULT 'planifie',
  `responsable_id` int unsigned NOT NULL,
  `lead_id` int unsigned DEFAULT NULL,
  `dossier_id` int unsigned DEFAULT NULL,
  `notif_email` tinyint(1) NOT NULL DEFAULT '1',
  `notif_sms` tinyint(1) NOT NULL DEFAULT '1',
  `notif_rappel_24h` tinyint(1) NOT NULL DEFAULT '0',
  `created_by` int unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `responsable_id` (`responsable_id`),
  KEY `lead_id` (`lead_id`),
  KEY `dossier_id` (`dossier_id`),
  CONSTRAINT `agenda_rdv_ibfk_1` FOREIGN KEY (`responsable_id`) REFERENCES `users` (`id`),
  CONSTRAINT `agenda_rdv_ibfk_2` FOREIGN KEY (`lead_id`) REFERENCES `leads` (`id`),
  CONSTRAINT `agenda_rdv_ibfk_3` FOREIGN KEY (`dossier_id`) REFERENCES `dossiers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agenda_rdv`
--

LOCK TABLES `agenda_rdv` WRITE;
/*!40000 ALTER TABLE `agenda_rdv` DISABLE KEYS */;
/*!40000 ALTER TABLE `agenda_rdv` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agent_limites`
--

DROP TABLE IF EXISTS `agent_limites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agent_limites` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int unsigned NOT NULL,
  `max_leads` int unsigned NOT NULL DEFAULT '50',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `agent_limites_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agent_limites`
--

LOCK TABLES `agent_limites` WRITE;
/*!40000 ALTER TABLE `agent_limites` DISABLE KEYS */;
/*!40000 ALTER TABLE `agent_limites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config_commissions`
--

DROP TABLE IF EXISTS `config_commissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `config_commissions` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `role_nom` varchar(50) NOT NULL,
  `taux_base` decimal(5,2) NOT NULL DEFAULT '6.50',
  `taux_supplement_equipe` decimal(5,2) NOT NULL DEFAULT '0.00',
  `actif` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `role_nom` (`role_nom`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_commissions`
--

LOCK TABLES `config_commissions` WRITE;
/*!40000 ALTER TABLE `config_commissions` DISABLE KEYS */;
INSERT INTO `config_commissions` VALUES (1,'commercial',6.50,0.00,1,'2026-03-17 11:09:59',NULL),(2,'manager',6.50,1.50,1,'2026-03-17 11:09:59',NULL);
/*!40000 ALTER TABLE `config_commissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config_distribution`
--

DROP TABLE IF EXISTS `config_distribution`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `config_distribution` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `methode` enum('round_robin','par_agence','par_formation') NOT NULL DEFAULT 'round_robin',
  `agence_id` int unsigned DEFAULT NULL,
  `actif` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `agence_id` (`agence_id`),
  CONSTRAINT `config_distribution_ibfk_1` FOREIGN KEY (`agence_id`) REFERENCES `agences` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_distribution`
--

LOCK TABLES `config_distribution` WRITE;
/*!40000 ALTER TABLE `config_distribution` DISABLE KEYS */;
INSERT INTO `config_distribution` VALUES (1,'round_robin',NULL,1,'2026-03-17 11:09:59',NULL);
/*!40000 ALTER TABLE `config_distribution` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config_sync_cma`
--

DROP TABLE IF EXISTS `config_sync_cma`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `config_sync_cma` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `actif` tinyint(1) NOT NULL DEFAULT '1',
  `frequence` enum('nuit_06h','toutes_12h','toutes_6h') NOT NULL DEFAULT 'nuit_06h',
  `derniere_sync` datetime DEFAULT NULL,
  `nb_trouves` int unsigned DEFAULT '0',
  `nb_en_attente` int unsigned DEFAULT '0',
  `nb_messages_envoyes` int unsigned DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_sync_cma`
--

LOCK TABLES `config_sync_cma` WRITE;
/*!40000 ALTER TABLE `config_sync_cma` DISABLE KEYS */;
INSERT INTO `config_sync_cma` VALUES (1,1,'nuit_06h',NULL,0,0,0,'2026-03-17 11:09:59');
/*!40000 ALTER TABLE `config_sync_cma` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dossiers`
--

DROP TABLE IF EXISTS `dossiers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dossiers` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `reference` varchar(20) DEFAULT NULL,
  `lead_id` int unsigned DEFAULT NULL,
  `nom` varchar(80) NOT NULL,
  `prenom` varchar(80) NOT NULL DEFAULT '',
  `telephone` varchar(20) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `formation_souhaitee` varchar(150) DEFAULT NULL,
  `numero_dossier_edof` varchar(50) DEFAULT NULL,
  `cout_total_formation` decimal(10,2) DEFAULT NULL,
  `part_financeur` decimal(10,2) DEFAULT NULL,
  `fp_manuel` decimal(10,2) DEFAULT NULL,
  `frais_cma` decimal(10,2) DEFAULT NULL,
  `frais_cma_paye` tinyint(1) NOT NULL DEFAULT '0',
  `statut_id` int unsigned DEFAULT NULL,
  `agence_id` int unsigned DEFAULT NULL,
  `vendeur_id` int unsigned DEFAULT NULL,
  `archived` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  `session_cours_id` int unsigned DEFAULT NULL,
  `session_edof_id` int unsigned DEFAULT NULL,
  `examen_id` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `reference` (`reference`),
  KEY `lead_id` (`lead_id`),
  KEY `statut_id` (`statut_id`),
  KEY `agence_id` (`agence_id`),
  KEY `vendeur_id` (`vendeur_id`),
  KEY `fk_dossier_session_cours` (`session_cours_id`),
  KEY `fk_dossier_session_edof` (`session_edof_id`),
  KEY `fk_dossier_examen` (`examen_id`),
  CONSTRAINT `dossiers_ibfk_1` FOREIGN KEY (`lead_id`) REFERENCES `leads` (`id`),
  CONSTRAINT `dossiers_ibfk_2` FOREIGN KEY (`statut_id`) REFERENCES `statuts_dossier` (`id`),
  CONSTRAINT `dossiers_ibfk_3` FOREIGN KEY (`agence_id`) REFERENCES `agences` (`id`),
  CONSTRAINT `dossiers_ibfk_4` FOREIGN KEY (`vendeur_id`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_dossier_examen` FOREIGN KEY (`examen_id`) REFERENCES `sessions_formation` (`id`),
  CONSTRAINT `fk_dossier_session_cours` FOREIGN KEY (`session_cours_id`) REFERENCES `sessions_formation` (`id`),
  CONSTRAINT `fk_dossier_session_edof` FOREIGN KEY (`session_edof_id`) REFERENCES `sessions_formation` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dossiers`
--

LOCK TABLES `dossiers` WRITE;
/*!40000 ALTER TABLE `dossiers` DISABLE KEYS */;
/*!40000 ALTER TABLE `dossiers` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_dossier_reference` BEFORE INSERT ON `dossiers` FOR EACH ROW BEGIN
    IF NEW.reference IS NULL THEN
        SET NEW.reference = CONCAT('ADM_', LPAD(
            (SELECT COALESCE(MAX(id),0)+1 FROM dossiers), 5, '0'
        ));
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `echeances`
--

DROP TABLE IF EXISTS `echeances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `echeances` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `dossier_id` int unsigned NOT NULL,
  `montant` decimal(10,2) NOT NULL,
  `date_echeance` date NOT NULL,
  `statut` enum('en_attente','payee') NOT NULL DEFAULT 'en_attente',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `dossier_id` (`dossier_id`),
  CONSTRAINT `echeances_ibfk_1` FOREIGN KEY (`dossier_id`) REFERENCES `dossiers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `echeances`
--

LOCK TABLES `echeances` WRITE;
/*!40000 ALTER TABLE `echeances` DISABLE KEYS */;
/*!40000 ALTER TABLE `echeances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `encaissements`
--

DROP TABLE IF EXISTS `encaissements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `encaissements` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `dossier_id` int unsigned NOT NULL,
  `montant` decimal(10,2) NOT NULL,
  `date_encaissement` date NOT NULL,
  `mode_paiement` enum('virement','cb','cheque','especes','prelevement') NOT NULL DEFAULT 'virement',
  `user_id` int unsigned DEFAULT NULL,
  `notes` text,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `dossier_id` (`dossier_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `encaissements_ibfk_1` FOREIGN KEY (`dossier_id`) REFERENCES `dossiers` (`id`),
  CONSTRAINT `encaissements_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `encaissements`
--

LOCK TABLES `encaissements` WRITE;
/*!40000 ALTER TABLE `encaissements` DISABLE KEYS */;
/*!40000 ALTER TABLE `encaissements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipe_membres`
--

DROP TABLE IF EXISTS `equipe_membres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipe_membres` (
  `equipe_id` int unsigned NOT NULL,
  `user_id` int unsigned NOT NULL,
  PRIMARY KEY (`equipe_id`,`user_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `equipe_membres_ibfk_1` FOREIGN KEY (`equipe_id`) REFERENCES `equipes` (`id`),
  CONSTRAINT `equipe_membres_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipe_membres`
--

LOCK TABLES `equipe_membres` WRITE;
/*!40000 ALTER TABLE `equipe_membres` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipe_membres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipes`
--

DROP TABLE IF EXISTS `equipes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipes` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `agence_id` int unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `agence_id` (`agence_id`),
  CONSTRAINT `equipes_ibfk_1` FOREIGN KEY (`agence_id`) REFERENCES `agences` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipes`
--

LOCK TABLES `equipes` WRITE;
/*!40000 ALTER TABLE `equipes` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `formations`
--

DROP TABLE IF EXISTS `formations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `formations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(150) NOT NULL,
  `date_debut` date DEFAULT NULL,
  `type` enum('TXF','TXP','VTF','VTP','VTA','VMF','VMP') DEFAULT NULL,
  `format` enum('P','D') DEFAULT NULL,
  `lieu_code` varchar(20) DEFAULT NULL,
  `code_formation` varchar(30) DEFAULT NULL,
  `description` text,
  `duree_heures` int unsigned DEFAULT NULL,
  `cout_defaut` decimal(10,2) DEFAULT NULL,
  `frais_cma_defaut` decimal(10,2) DEFAULT NULL,
  `config_pedagogique` enum('theorie_seule','pratique_seule','theorie_et_pratique') NOT NULL DEFAULT 'theorie_et_pratique',
  `actif` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `formations`
--

LOCK TABLES `formations` WRITE;
/*!40000 ALTER TABLE `formations` DISABLE KEYS */;
/*!40000 ALTER TABLE `formations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historique_imports`
--

DROP TABLE IF EXISTS `historique_imports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historique_imports` (
  `id` int NOT NULL AUTO_INCREMENT,
  `type` varchar(20) NOT NULL,
  `fichier` varchar(255) DEFAULT NULL,
  `nb_lignes` int DEFAULT '0',
  `nb_importes` int DEFAULT '0',
  `nb_maj` int DEFAULT '0',
  `nb_erreurs` int DEFAULT '0',
  `user_id` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historique_imports`
--

LOCK TABLES `historique_imports` WRITE;
/*!40000 ALTER TABLE `historique_imports` DISABLE KEYS */;
/*!40000 ALTER TABLE `historique_imports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `imports_jobs`
--

DROP TABLE IF EXISTS `imports_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `imports_jobs` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `type` enum('gestion','edof') NOT NULL,
  `mode` varchar(30) DEFAULT NULL,
  `lues` int unsigned DEFAULT '0',
  `crees` int unsigned DEFAULT '0',
  `mises_a_jour` int unsigned DEFAULT '0',
  `rejetees` int unsigned DEFAULT '0',
  `user_id` int unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `imports_jobs`
--

LOCK TABLES `imports_jobs` WRITE;
/*!40000 ALTER TABLE `imports_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `imports_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `imports_rejets`
--

DROP TABLE IF EXISTS `imports_rejets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `imports_rejets` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `job_id` int unsigned NOT NULL,
  `ligne` int unsigned DEFAULT NULL,
  `donnees` json DEFAULT NULL,
  `raison` text,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `job_id` (`job_id`),
  CONSTRAINT `imports_rejets_ibfk_1` FOREIGN KEY (`job_id`) REFERENCES `imports_jobs` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `imports_rejets`
--

LOCK TABLES `imports_rejets` WRITE;
/*!40000 ALTER TABLE `imports_rejets` DISABLE KEYS */;
/*!40000 ALTER TABLE `imports_rejets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `interactions`
--

DROP TABLE IF EXISTS `interactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `interactions` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `lead_id` int unsigned DEFAULT NULL,
  `dossier_id` int unsigned DEFAULT NULL,
  `type` enum('appel','sms','email','rdv','note') NOT NULL,
  `contenu` text,
  `duree` int DEFAULT NULL,
  `user_id` int unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `lead_id` (`lead_id`),
  KEY `dossier_id` (`dossier_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `interactions_ibfk_1` FOREIGN KEY (`lead_id`) REFERENCES `leads` (`id`),
  CONSTRAINT `interactions_ibfk_2` FOREIGN KEY (`dossier_id`) REFERENCES `dossiers` (`id`),
  CONSTRAINT `interactions_ibfk_3` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `interactions`
--

LOCK TABLES `interactions` WRITE;
/*!40000 ALTER TABLE `interactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `interactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leads`
--

DROP TABLE IF EXISTS `leads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leads` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(80) NOT NULL,
  `prenom` varchar(80) NOT NULL DEFAULT '',
  `telephone` varchar(20) NOT NULL,
  `email` varchar(150) DEFAULT NULL,
  `source_id` int unsigned DEFAULT NULL,
  `formation_souhaitee` varchar(150) DEFAULT NULL,
  `agence_id` int unsigned DEFAULT NULL,
  `vendeur_id` int unsigned DEFAULT NULL,
  `statut` enum('entrant','contacte','qualifie','rdv_booke','gagne','perdu','annule','en_suspens','injoignable') NOT NULL DEFAULT 'entrant',
  `notes` text,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `source_id` (`source_id`),
  KEY `agence_id` (`agence_id`),
  KEY `vendeur_id` (`vendeur_id`),
  CONSTRAINT `leads_ibfk_1` FOREIGN KEY (`source_id`) REFERENCES `sources_leads` (`id`),
  CONSTRAINT `leads_ibfk_2` FOREIGN KEY (`agence_id`) REFERENCES `agences` (`id`),
  CONSTRAINT `leads_ibfk_3` FOREIGN KEY (`vendeur_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leads`
--

LOCK TABLES `leads` WRITE;
/*!40000 ALTER TABLE `leads` DISABLE KEYS */;
/*!40000 ALTER TABLE `leads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `logs_systeme`
--

DROP TABLE IF EXISTS `logs_systeme`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `logs_systeme` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `action` varchar(80) NOT NULL,
  `user_id` int unsigned DEFAULT NULL,
  `details` json DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `logs_systeme_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logs_systeme`
--

LOCK TABLES `logs_systeme` WRITE;
/*!40000 ALTER TABLE `logs_systeme` DISABLE KEYS */;
/*!40000 ALTER TABLE `logs_systeme` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pipeline_historique`
--

DROP TABLE IF EXISTS `pipeline_historique`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pipeline_historique` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `lead_id` int unsigned NOT NULL,
  `statut_avant` varchar(30) DEFAULT NULL,
  `statut_apres` varchar(30) NOT NULL,
  `user_id` int unsigned DEFAULT NULL,
  `notes` text,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `lead_id` (`lead_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `pipeline_historique_ibfk_1` FOREIGN KEY (`lead_id`) REFERENCES `leads` (`id`),
  CONSTRAINT `pipeline_historique_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pipeline_historique`
--

LOCK TABLES `pipeline_historique` WRITE;
/*!40000 ALTER TABLE `pipeline_historique` DISABLE KEYS */;
/*!40000 ALTER TABLE `pipeline_historique` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prelevements_log`
--

DROP TABLE IF EXISTS `prelevements_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prelevements_log` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `echeance_id` int unsigned NOT NULL,
  `dossier_id` int unsigned NOT NULL,
  `montant` decimal(10,2) NOT NULL,
  `mode` varchar(20) NOT NULL DEFAULT 'simulation',
  `provider_ref` varchar(100) DEFAULT NULL,
  `statut` enum('succes','echec','en_cours') NOT NULL DEFAULT 'en_cours',
  `message` text,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `dossier_id` (`dossier_id`),
  CONSTRAINT `prelevements_log_ibfk_1` FOREIGN KEY (`dossier_id`) REFERENCES `dossiers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prelevements_log`
--

LOCK TABLES `prelevements_log` WRITE;
/*!40000 ALTER TABLE `prelevements_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `prelevements_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rapports_config`
--

DROP TABLE IF EXISTS `rapports_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rapports_config` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `type` varchar(80) NOT NULL,
  `params` json DEFAULT NULL,
  `created_by` int unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rapports_config`
--

LOCK TABLES `rapports_config` WRITE;
/*!40000 ALTER TABLE `rapports_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `rapports_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reassignations`
--

DROP TABLE IF EXISTS `reassignations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reassignations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `lead_id` int unsigned NOT NULL,
  `ancien_vendeur_id` int unsigned DEFAULT NULL,
  `nouveau_vendeur_id` int unsigned DEFAULT NULL,
  `motif` varchar(100) DEFAULT NULL,
  `fait_par_id` int unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `lead_id` (`lead_id`),
  CONSTRAINT `reassignations_ibfk_1` FOREIGN KEY (`lead_id`) REFERENCES `leads` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reassignations`
--

LOCK TABLES `reassignations` WRITE;
/*!40000 ALTER TABLE `reassignations` DISABLE KEYS */;
/*!40000 ALTER TABLE `reassignations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resultats_cma`
--

DROP TABLE IF EXISTS `resultats_cma`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resultats_cma` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `dossier_id` int unsigned NOT NULL,
  `session_code` varchar(50) NOT NULL,
  `type_epreuve` enum('theorie','pratique') NOT NULL,
  `note` decimal(4,2) DEFAULT NULL,
  `resultat` enum('admis','echec','en_attente') NOT NULL DEFAULT 'en_attente',
  `action_auto` varchar(200) DEFAULT NULL,
  `sync_source` varchar(20) DEFAULT 'auto',
  `synced_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_resultat_cma` (`dossier_id`,`session_code`,`type_epreuve`),
  CONSTRAINT `resultats_cma_ibfk_1` FOREIGN KEY (`dossier_id`) REFERENCES `dossiers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resultats_cma`
--

LOCK TABLES `resultats_cma` WRITE;
/*!40000 ALTER TABLE `resultats_cma` DISABLE KEYS */;
/*!40000 ALTER TABLE `resultats_cma` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nom` enum('super_admin','role_admin','commercial','role_administratif','agent_accueil','manager') NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nom` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'super_admin'),(2,'role_admin'),(3,'commercial'),(4,'role_administratif'),(5,'agent_accueil'),(6,'manager');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions_formation`
--

DROP TABLE IF EXISTS `sessions_formation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions_formation` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `formation_id` int unsigned NOT NULL,
  `numero_session` int unsigned DEFAULT NULL,
  `code_session` varchar(50) NOT NULL,
  `date_debut` date NOT NULL,
  `date_fin` date NOT NULL,
  `capacite_max` int unsigned NOT NULL DEFAULT '30',
  `lieu` varchar(150) DEFAULT NULL,
  `actif` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  `type_session` enum('cours','edof','examen') NOT NULL DEFAULT 'cours',
  `moment` char(1) DEFAULT NULL COMMENT 'J=Jour, S=Soir',
  PRIMARY KEY (`id`),
  UNIQUE KEY `code_session` (`code_session`),
  KEY `formation_id` (`formation_id`),
  CONSTRAINT `sessions_formation_ibfk_1` FOREIGN KEY (`formation_id`) REFERENCES `formations` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions_formation`
--

LOCK TABLES `sessions_formation` WRITE;
/*!40000 ALTER TABLE `sessions_formation` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions_formation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sms_modeles`
--

DROP TABLE IF EXISTS `sms_modeles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sms_modeles` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `type` varchar(80) NOT NULL,
  `nom` varchar(150) NOT NULL,
  `sujet_email` varchar(200) DEFAULT NULL,
  `contenu_email` text,
  `contenu_sms` varchar(500) DEFAULT NULL,
  `actif` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sms_modeles`
--

LOCK TABLES `sms_modeles` WRITE;
/*!40000 ALTER TABLE `sms_modeles` DISABLE KEYS */;
/*!40000 ALTER TABLE `sms_modeles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sources_leads`
--

DROP TABLE IF EXISTS `sources_leads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sources_leads` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nom` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sources_leads`
--

LOCK TABLES `sources_leads` WRITE;
/*!40000 ALTER TABLE `sources_leads` DISABLE KEYS */;
INSERT INTO `sources_leads` VALUES (6,'Autre'),(3,'Formulaire Web'),(2,'Google Ads'),(1,'Meta Ads'),(4,'Recommandation'),(5,'Salon');
/*!40000 ALTER TABLE `sources_leads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `statuts_dossier`
--

DROP TABLE IF EXISTS `statuts_dossier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `statuts_dossier` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(80) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nom` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `statuts_dossier`
--

LOCK TABLES `statuts_dossier` WRITE;
/*!40000 ALTER TABLE `statuts_dossier` DISABLE KEYS */;
INSERT INTO `statuts_dossier` VALUES (3,'Archiv├®'),(1,'En cours'),(4,'Suspendu'),(2,'Valid├®');
/*!40000 ALTER TABLE `statuts_dossier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `taches`
--

DROP TABLE IF EXISTS `taches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `taches` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `dossier_id` int unsigned NOT NULL,
  `type` varchar(50) NOT NULL,
  `titre` varchar(150) NOT NULL,
  `statut` enum('en_attente','en_cours','fait','incomplet') NOT NULL DEFAULT 'en_attente',
  `assigned_to` int unsigned DEFAULT NULL,
  `notes` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `dossier_id` (`dossier_id`),
  CONSTRAINT `taches_ibfk_1` FOREIGN KEY (`dossier_id`) REFERENCES `dossiers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `taches`
--

LOCK TABLES `taches` WRITE;
/*!40000 ALTER TABLE `taches` DISABLE KEYS */;
/*!40000 ALTER TABLE `taches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `prenom` varchar(80) NOT NULL,
  `nom` varchar(80) NOT NULL,
  `email` varchar(150) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role_id` int unsigned NOT NULL,
  `agence_id` int unsigned DEFAULT NULL,
  `actif` tinyint(1) NOT NULL DEFAULT '1',
  `last_login` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `role_id` (`role_id`),
  KEY `agence_id` (`agence_id`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`),
  CONSTRAINT `users_ibfk_2` FOREIGN KEY (`agence_id`) REFERENCES `agences` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Naji','Admin','admin@leadflow.fr','$2a$12$.br/UP9n9D64Q43btUq33exKDxHJdXrfysiku5jdL8mNiyU/i4TF6',1,1,1,'2026-03-26 10:07:44','2026-03-17 11:09:59','2026-03-18 12:28:15'),(6,'Ismael','Samah','ismael@gmail.com','$2a$12$HFTlLXy8/p1729bbtHSDUO5OQphIrymdLPq.X0jj63LlUpNDcu6Ze',3,NULL,1,'2026-03-19 16:14:41','2026-03-19 15:13:46',NULL),(7,'Mamadou','Camara','mamadou@gmail.com','$2a$12$u89Lo0Cu/BRjfsTZhf4wyO5eMh4s9SgYJeruMYEqCTWNAJ6kxkcKC',4,NULL,1,'2026-03-19 16:17:28','2026-03-19 15:14:36',NULL);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vue_commissions`
--

DROP TABLE IF EXISTS `vue_commissions`;
/*!50001 DROP VIEW IF EXISTS `vue_commissions`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_commissions` AS SELECT 
 1 AS `vendeur_id`,
 1 AS `vendeur_nom`,
 1 AS `role_nom`,
 1 AS `agence_id`,
 1 AS `agence_nom`,
 1 AS `nb_dossiers`,
 1 AS `base_calcul`,
 1 AS `taux_base`,
 1 AS `commission_base`,
 1 AS `supplement_equipe`,
 1 AS `commission_totale`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vue_finances_dossier`
--

DROP TABLE IF EXISTS `vue_finances_dossier`;
/*!50001 DROP VIEW IF EXISTS `vue_finances_dossier`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_finances_dossier` AS SELECT 
 1 AS `id`,
 1 AS `reference`,
 1 AS `nom`,
 1 AS `prenom`,
 1 AS `financement_personnel`,
 1 AS `total_encaisse`,
 1 AS `frais_cma`,
 1 AS `frais_cma_paye`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vue_soldes`
--

DROP TABLE IF EXISTS `vue_soldes`;
/*!50001 DROP VIEW IF EXISTS `vue_soldes`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_soldes` AS SELECT 
 1 AS `dossier_id`,
 1 AS `reference`,
 1 AS `financement_personnel`,
 1 AS `total_encaisse`,
 1 AS `reste_a_payer`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vue_commissions`
--

/*!50001 DROP VIEW IF EXISTS `vue_commissions`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_commissions` AS select `u`.`id` AS `vendeur_id`,concat(`u`.`prenom`,' ',`u`.`nom`) AS `vendeur_nom`,`r`.`nom` AS `role_nom`,`a`.`id` AS `agence_id`,`a`.`nom` AS `agence_nom`,count(`d`.`id`) AS `nb_dossiers`,coalesce(sum(`d`.`cout_total_formation`),0) AS `base_calcul`,`cc`.`taux_base` AS `taux_base`,round(((coalesce(sum(`d`.`cout_total_formation`),0) * `cc`.`taux_base`) / 100),2) AS `commission_base`,0.00 AS `supplement_equipe`,round(((coalesce(sum(`d`.`cout_total_formation`),0) * `cc`.`taux_base`) / 100),2) AS `commission_totale` from ((((`users` `u` join `roles` `r` on(((`r`.`id` = `u`.`role_id`) and (`r`.`nom` in ('commercial','manager'))))) join `config_commissions` `cc` on((`cc`.`role_nom` = `r`.`nom`))) left join `agences` `a` on((`a`.`id` = `u`.`agence_id`))) left join `dossiers` `d` on(((`d`.`vendeur_id` = `u`.`id`) and (`d`.`archived` = 0) and (`d`.`cout_total_formation` > 0)))) where (`u`.`actif` = 1) group by `u`.`id`,`u`.`prenom`,`u`.`nom`,`r`.`nom`,`a`.`id`,`a`.`nom`,`cc`.`taux_base` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_finances_dossier`
--

/*!50001 DROP VIEW IF EXISTS `vue_finances_dossier`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_finances_dossier` AS select `d`.`id` AS `id`,`d`.`reference` AS `reference`,`d`.`nom` AS `nom`,`d`.`prenom` AS `prenom`,greatest((coalesce(`d`.`cout_total_formation`,`d`.`fp_manuel`,0) - coalesce(`d`.`part_financeur`,0)),0) AS `financement_personnel`,coalesce(`enc`.`total`,0) AS `total_encaisse`,`d`.`frais_cma` AS `frais_cma`,`d`.`frais_cma_paye` AS `frais_cma_paye` from (`dossiers` `d` left join (select `encaissements`.`dossier_id` AS `dossier_id`,sum(`encaissements`.`montant`) AS `total` from `encaissements` group by `encaissements`.`dossier_id`) `enc` on((`enc`.`dossier_id` = `d`.`id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_soldes`
--

/*!50001 DROP VIEW IF EXISTS `vue_soldes`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_soldes` AS select `d`.`id` AS `dossier_id`,`d`.`reference` AS `reference`,greatest((coalesce(`d`.`cout_total_formation`,`d`.`fp_manuel`,0) - coalesce(`d`.`part_financeur`,0)),0) AS `financement_personnel`,coalesce(sum(`e`.`montant`),0) AS `total_encaisse`,greatest((greatest((coalesce(`d`.`cout_total_formation`,`d`.`fp_manuel`,0) - coalesce(`d`.`part_financeur`,0)),0) - coalesce(sum(`e`.`montant`),0)),0) AS `reste_a_payer` from (`dossiers` `d` left join `encaissements` `e` on((`e`.`dossier_id` = `d`.`id`))) group by `d`.`id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-26 10:56:18
